<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"> 
    <dict> 
        <key>items</key> 
        <array> 
            <dict> 
                <key>assets</key> 
                <array> 
                    <dict> 
                        <key>kind</key> 
                        <string>software-package</string> 
                        <key>url</key> 
                        <string>http://app-global.pgyer.com/660fa8cf8c1e29e226bfe9cd2ffe8448.ipa?attname=SJZZ_002.ipa&amp;sign=0cb7a637d7cc5d808a28918fc19230fe&amp;t=5b076610</string> 
                    </dict> 
                    <dict> 
                        <key>kind</key> 
                        <string>full-size-image</string> 
                        <key>needs-shine</key> 
                        <false /> 
                        <key>url</key> 
                        <string>https://static.pgyer.com/image/view/app_icons/439461ac7ab7e05e37fdc644bc2f27dc</string> 
                    </dict> 
                    <dict> 
                        <key>kind</key> 
                        <string>display-image</string> 
                        <key>needs-shine</key> 
                        <false /> 
                        <key>url</key> 
                        <string>https://static.pgyer.com/image/view/app_icons/439461ac7ab7e05e37fdc644bc2f27dc</string> 
                    </dict> 
                </array> 
                <key>metadata</key> 
                <dict> 
                    <key>bundle-identifier</key> 
                    <string>me.myfont.HandFontMaker</string> 
                    <key>bundle-version</key> 
                    <string>4.3.2</string> 
                    <key>kind</key> 
                    <string>software</string> 
                    <key>subtitle</key> 
                    <string>手迹造字</string> 
                    <key>title</key> 
                    <string>手迹造字</string> 
                </dict> 
            </dict> 
        </array> 
    </dict> 
</plist>